.fav-container{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fav-list{
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 50px;
    margin-top: 30px;
}

.fav-item{
    display: flex;
    flex-direction: column;
}

.bnt-removeLike{
    justify-self: right;
    margin-left: auto;
    padding-right: 9px;
    background-color: var(--col-4);
    color: var(--text-light);
    border-bottom: 0;
    border-radius: 20px 0 20px ;
    border-color: var(--col-5)
}

.bnt-removeLike:hover{
    background-color:brown;
}