.lanyard-img{
    max-width: 200px;
}

.filterBar-container{
    display: flex;
    gap:100px
}

.all-container{
    display: flex;
    gap: 3rem;
    justify-self: center;
}

.lanyard-link{
    text-decoration: none;
    color: black;
}