.lanyard-box{
    width:fit-content;
    height: fit-content;
}

.lanyard-part{
    position:absolute;
    width: auto;
    object-fit:fill;
    width: 100%;
    height: 100%;
}


.mask-color,
.base-img,
.lanyard-shadow{
    position:absolute;
    top:0;
    left:0;

    width:100%;
    height:100%;
}

.mask-color{
    z-index:1;

    -webkit-mask-repeat:no-repeat;
    -webkit-mask-position:center;
    -webkit-mask-size:100% 100%;

    mask-repeat:no-repeat;
    mask-position:center;
    mask-size:100% 100%;
}


.base-img{
    z-index: 2;
    mix-blend-mode:multiply;
}

.lanyard-shadow{
    z-index: 0;
    right: 0; 
    transform: translateX(3px)
}