.nav {
  display: flex;
  align-items: center;
  background-color: transparent;
  background-image:  linear-gradient(180deg, #000000c7, #00000073 45%, #0000);
  z-index: 30;
  width: 100%;
  position: fixed;
}

.nav-list {
  display: flex;
  gap: 3rem;
}

.nav-logo {
  margin: 10px;
}
.nav-LogoImg {
  max-width: 75px;
}

.nav-link {
  text-decoration: none;
  color: var(--text-light);
}

.nav-item {
  font-size: 20px;
}

.nav-profile-menu {
  margin-left: auto;
  margin-right: 50px;
}

.nav-profile-img {
  max-width: 75px;
  border-radius: 100%;
}

.nav-profile-btn :hover {
  box-shadow: var(--shadow);
}

.nav-profile-btn {
  background-color: transparent;
  border: none;
}

/* Drop down menu */
.drop-menu {
  position: absolute;
  background-color: var(--col-0);
  padding: 5px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  box-shadow: var(--shadow);

  transition:
    opacity 0.2s ease,
    transform 0.3s ease,
    visibility 0.2s;
}

.drop-link{
  text-decoration: none;
  color: var(--text-light);
  padding: 6px;
  transition: transform 0.3s ease;
}

.drop-item{
  font-size: 17px;
}

.drop-link :hover{
  transform: translateX(5px);
}