.nav{
    display:flex;
    border: 1px dotted black;
    align-items: center;
}
.nav-logo{
margin: 10px;
}
.nav-LogoImg{
    max-width: 75px;
}

.nav-link{
    text-decoration: none;
}

.nav-profile-img{
    max-width: 75px;
    border-radius: 100%;
}